* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $fontFamily;
  font-size: $fonSize;
  color: $colorFont;
}
.bars-menu {
  display: none;
  font-size: 2em;
}
h1 {
  font-size: 3.5em;
  font-weight: 500;
}
.btn-jumbo {
  display: flex;
  align-items: center;
}
.rigth {
  @include floatLeft;
}
.left {
  @include floatLeft;
}
