header {
  @include centerPage100;
  background-color: coral;
  .nav {
    @include fixed;
    width: 100%;
    height: 90px;
    background-color: #FFF;
    border-bottom: 1px solid $colorFont;
    .wrapper {
      @include centerPage;
      @include flexRowBetween;
      .left {
        img {
          width: 150px;
        }
      }
      .rigth {
        @include flexRow;
        ul {
          list-style: none;
          li {
            display: inline-block;
            a {
              @include aLinks;
              i {
                margin-bottom: 5px;
                font-size: 1.2em;
              }
            }
          }
        }
        button {
          margin-left: 20px;
          @include btnSmall;
          svg {
            margin-right: 5px;
          }
          &:hover {
            color: $colorWhite;
            background-color: $colorBtn;
            .color_path {
              display: none;
            }
          }
        }
      }
    }
  }
  .jumbo {
    @include centerPage;
    height: calc(800px - 150px);
    background-color: lightgreen;
    &::after{
      @include clearfix;
    }
  }
}
