main {
  @include centerPage100;
  .top-main {
    @include clearfix;
    width: $width100;
    padding: 100px 0;
    background-color: $primaryColor;
    h2 {
      margin-bottom: 100px;
    }
    .wrapper {
      text-align: center;
      &-center {
        width: 100%;
        @include flexRowCenter;
        margin-bottom: 100px;
        .wrapper-center-left {
          width: 400px;
          text-align: center;
          img {
            width: 45%;
            margin-bottom: 20px;
          }
        }
        .wrapper-center-middle {
          width: 400px;
          text-align: center;
          img {
            width: 45%;
            margin-bottom: 20px;
          }
        }
        .wrapper-center-right {
          width: 400px;
          text-align: center;
          img {
            width: 30%;
            margin-bottom: 20px;
          }
          .safe {
            width: 18%;
          }
        }
      }
      img {
        width: 300px;
        margin-bottom: 100px;
      }
      .after-img {
        margin-bottom: 0;
      }
      .mid-row {
        width: 50%;
        margin: 0 auto 100px;
        border-bottom: 1px solid silver;
      }
    }
  }
  .feedback {
    @include clearfix;
    width: $width100;
    height: $heightCenter;
    background-color: coral;
  }
  .surveys {
    @include clearfix;
    width: $width100;
    height: $heightCenter;
    background-color: lightyellow;
  }
  .reviews {
    @include clearfix;
    height: $heightCenter;
    width: $width100;
    background-color: lightgreen;
  }
  .praise {
    @include clearfix;
    width: $width100;
    height: $heightCenter;
    background-color: silver;
  }
  .bottom-main {
    @include clearfix;
    width: $width100;
    height: $heightCenter;
    background-color: coral;
  }
}
