/* NAV */
@media screen and  (max-width: 767px) {
  .bars-menu {
    display: block;
  }
  .list-menu {
    display: none;
  }
}

/* JUMBO */
@media screen and (max-width: 1140px) {
  header .jumbo .left {
    float: none;
    width: 100%;
    text-align: center;
  }
  header .jumbo .left .btn-jumbo{
    display: flex;
    justify-content: center;
  }
  header .jumbo .rigth {
    float: none;
    width: 100%;
  }
}
