/* NAV */
@media screen and  (max-width: 767px) {
  .bars-menu {
    display: block;
  }
  .list-menu {
    display: none;
  }
}

/* JUMBO */
@media screen and (max-width: 1140px) {
  .left {
    width: 100%;
  }
}
