/* FONT */
$fontFamily: 'Montserrat', sans-serif;
$fonSize: 16px;

/* MARGIN */
$marginAuto: 0 auto;

/* WIDTH */
$width100: 100%;
$width80: 80%;



$heightCenter: 400px;

/* COLOR */
$primaryColor: #f7ead7;
$colorBtn: #324691;
$colorFont: #5c4632;
$colorWhite: #fff;
